<div>
  <span class="detail">Author Details :</span>{{quote.author}} <br>
  <span class="detail">Publisher's Name</span>:{{quote.publisher}}
  <p>
    <strong>Posted</strong> : {{quote.time|timestamp}}
  </p>
  <span  class="voters">Upvotes &nbsp;{{quote.upvotes}}</span>&nbsp;
  <span  class="voters">Downvotes &nbsp;{{quote.downvotes}}</span> <br>
  &nbsp;
  <br>
  <a href="#" (click)='upvote()' class="btn btn-info  style">Upvote <i class="fas fa-smile-beam"></i></a>
  &nbsp;
  <a  href="#" (click)='downvote()' class="btn btn-dark style">Downvote <i class="fas fa-frown"></i></a>
  &nbsp;
  <button type="button" (click)='sendDelete(true)' class="btn btn-danger">Delete Quote <i class="fas fa-trash-alt"></i></button>
</div>
